In [61]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\sairu\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sairu\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sairu\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sairu\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sairu\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sairu\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [81]:
import pandas as pd

In [63]:
df = pd.read_excel("C:/Users/sairu/Downloads/Movies_Dataset.xlsx")
display(df)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
995   Movie 996     Sci-Fi          2013          8.7   456.39
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[1000 rows x 5 columns]

In [64]:
df_action = df[df["Genre"] == "Action"]
print(df_action)

    Movie Name   Genre  Release_Year  IMDb_Rating  Revenue
4      Movie 5  Action          2012          6.6  1205.51
34    Movie 35  Action          2009          8.7   545.60
64    Movie 65  Action          2023          7.7  1137.79
65    Movie 66  Action          1999          3.1  1335.85
73    Movie 74  Action          2001          4.1   350.80
..         ...     ...           ...          ...      ...
930  Movie 931  Action          1994          8.6  1863.66
944  Movie 945  Action          2004          7.5  1709.81
980  Movie 981  Action          2022          5.2    28.40
988  Movie 989  Action          2023          4.1   231.67
998  Movie 999  Action          1996          8.9   941.67

[104 rows x 5 columns]

In [65]:
df_year = df[df["Release_Year"] >2000]
print(df_year)

    Movie Name     Genre  Release_Year  IMDb_Rating  Revenue
2      Movie 3   Romance          2002          5.2  1122.13
3      Movie 4   Romance          2001          4.5   581.84
4      Movie 5    Action          2012          6.6  1205.51
6      Movie 7   Mystery          2021          5.1  1683.99
7      Movie 8    Comedy          2005          4.0  1062.13
..         ...       ...           ...          ...      ...
988  Movie 989    Action          2023          4.1   231.67
989  Movie 990   Fantasy          2004          1.6  1056.58
991  Movie 992  Thriller          2004          9.2   251.25
995  Movie 996    Sci-Fi          2013          8.7   456.39
997  Movie 998   Fantasy          2016          8.1  1161.96

[518 rows x 5 columns]

In [66]:
print(df.columns)

Index(['Movie Name', 'Genre', 'Release_Year', 'IMDb_Rating', 'Revenue'], dtype='object')

In [67]:
print(df.IMDb_Rating>8.5)

0      False
1      False
2      False
3      False
4      False
       ...
995     True
996    False
997    False
998     True
999     True
Name: IMDb_Rating, Length: 1000, dtype: bool

In [68]:
df_selected = df[["Movie Name", "Genre"]]
print(df_selected)

     Movie Name      Genre
0       Movie 1     Sci-Fi
1       Movie 2  Adventure
2       Movie 3    Romance
3       Movie 4    Romance
4       Movie 5     Action
..          ...        ...
995   Movie 996     Sci-Fi
996   Movie 997  Adventure
997   Movie 998    Fantasy
998   Movie 999     Action
999  Movie 1000     Horror

[1000 rows x 2 columns]

In [69]:
df_release = df[(df["Release_Year"] >= 1990) & (df["Release_Year"] <= 2010)]
print(df_release)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
5       Movie 6    Fantasy          1997          2.4   485.22
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
994   Movie 995     Sci-Fi          1997          2.0   342.98
996   Movie 997  Adventure          1993          6.2  1255.27
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[500 rows x 5 columns]

In [70]:
df_count = df.Genre.count()
print(df_count)

1000

In [71]:
df_max = df.IMDb_Rating.max()
display(df_max)

10.0

In [72]:
df_avearge = df.IMDb_Rating.mean() 
display(df_avearge)

5.458600000000001

In [73]:
df_total = df.Revenue.sum()
display(df_total)

1049716.26

In [74]:
df_earnings = df.Revenue>50000000
display(df_earnings)

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Revenue, Length: 1000, dtype: bool

In [75]:
df_high_earning = df[df["Revenue"] > 500000000]
display(df_high_earning)

Empty DataFrame
Columns: [Movie Name, Genre, Release_Year, IMDb_Rating, Revenue]
Index: []

In [76]:
df["Rank"] = df["IMDb_Rating"].rank(ascending=False, method="dense")
df_sorted = df.sort_values(by="Rank")
display(df_sorted)

    Movie Name      Genre  Release_Year  IMDb_Rating  Revenue  Rank
628  Movie 629    Mystery          1994         10.0   644.31   1.0
610  Movie 611    Mystery          2017         10.0  1355.06   1.0
472  Movie 473    Fantasy          1985         10.0   845.18   1.0
241  Movie 242     Comedy          2006         10.0   802.61   1.0
564  Movie 565     Action          2020         10.0   943.50   1.0
..         ...        ...           ...          ...      ...   ...
758  Movie 759     Horror          2000          1.0  1590.35  91.0
297  Movie 298     Comedy          2006          1.0   692.08  91.0
699  Movie 700   Thriller          1984          1.0     9.60  91.0
577  Movie 578     Action          1999          1.0  1621.75  91.0
80    Movie 81  Adventure          2002          1.0  1759.50  91.0

[1000 rows x 6 columns]

In [77]:
df_descending = df.sort_values("Release_Year",ascending = False)
print(df_descending)

    Movie Name      Genre  Release_Year  IMDb_Rating  Revenue  Rank
320  Movie 321    Romance          2024          4.2   477.47  59.0
211  Movie 212     Comedy          2024          1.5   837.32  86.0
489  Movie 490   Thriller          2024          3.2  1536.79  69.0
808  Movie 809     Action          2024          6.0   714.96  41.0
917  Movie 918     Horror          2024          1.1  1042.80  90.0
..         ...        ...           ...          ...      ...   ...
509  Movie 510    Fantasy          1980          6.3  1260.11  38.0
798  Movie 799      Drama          1980          3.1  1587.13  70.0
496  Movie 497    Fantasy          1980          4.7  1683.97  54.0
794  Movie 795  Adventure          1980          4.5  1346.01  56.0
170  Movie 171    Mystery          1980          4.6  1684.78  55.0

[1000 rows x 6 columns]

In [78]:
df.head(10)

  Movie Name      Genre  Release_Year  IMDb_Rating  Revenue  Rank
0    Movie 1     Sci-Fi          2000          6.0  1680.53  41.0
1    Movie 2  Adventure          2000          2.2   987.24  79.0
2    Movie 3    Romance          2002          5.2  1122.13  49.0
3    Movie 4    Romance          2001          4.5   581.84  56.0
4    Movie 5     Action          2012          6.6  1205.51  35.0
5    Movie 6    Fantasy          1997          2.4   485.22  77.0
6    Movie 7    Mystery          2021          5.1  1683.99  50.0
7    Movie 8     Comedy          2005          4.0  1062.13  61.0
8    Movie 9     Horror          1992          2.8  1592.74  73.0
9   Movie 10      Drama          1996          3.2  1352.66  69.0

In [79]:
df.tail(5)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue  Rank
995   Movie 996     Sci-Fi          2013          8.7   456.39  14.0
996   Movie 997  Adventure          1993          6.2  1255.27  39.0
997   Movie 998    Fantasy          2016          8.1  1161.96  20.0
998   Movie 999     Action          1996          8.9   941.67  12.0
999  Movie 1000     Horror          1995          9.4  1390.70   7.0

In [82]:
print(df.columns)

Index(['Movie Name', 'Genre', 'Release_Year', 'IMDb_Rating', 'Revenue',
       'Rank'],
      dtype='object')

In [83]:
df_genre_avg_rating = df.groupby("Genre")["IMDb_Rating"].mean().reset_index()
df_genre_avg_rating.columns = ["Genre", "Average IMDb Rating"]
print(df_genre_avg_rating)

       Genre  Average IMDb Rating
0     Action             5.670192
1  Adventure             5.012500
2     Comedy             5.442727
3      Drama             5.173451
4    Fantasy             5.200000
5     Horror             5.814444
6    Mystery             5.778652
7    Romance             5.938462
8     Sci-Fi             5.445161
9   Thriller             5.267290

In [84]:
df_yearly_counts = df["Release_Year"].value_counts().reset_index()
df_yearly_counts.columns = ["Release_Year", "Number of Movies"]
df_yearly_counts = df_yearly_counts.sort_values("Release_Year")
print(df_yearly_counts)

    Release_Year  Number of Movies
10          1980                26
39          1981                17
28          1982                21
40          1983                16
42          1984                16
5           1985                28
26          1986                21
38          1987                17
33          1988                20
1           1989                30
23          1990                21
25          1991                21
8           1992                26
27          1993                21
18          1994                23
6           1995                27
9           1996                26
21          1997                22
4           1998                29
11          1999                25
2           2000                29
20          2001                23
15          2002                24
13          2003                25
29          2004                20
24          2005                21
16          2006                23
3           2007                29
14          2008                24
22          2009                21
30          2010                20
17          2011                23
31          2012                20
7           2013                26
34          2014                20
19          2015                23
44          2016                14
36          2017                18
35          2018                18
43          2019                15
32          2020                20
41          2021                16
12          2022                25
37          2023                18
0           2024                32

In [86]:
df_genre_revenue = df.groupby("Genre")["Revenue"].sum().reset_index()
df_genre_revenue.columns = ["Genre", "Total Box Office Collection"]
df_genre_revenue = df_genre_revenue.sort_values("Total Box Office Collection", ascending=False)
print(df_genre_revenue)

       Genre  Total Box Office Collection
2     Comedy                    122686.63
3      Drama                    120311.32
9   Thriller                    112412.12
0     Action                    111137.94
4    Fantasy                    109849.86
1  Adventure                    103864.42
6    Mystery                     98832.93
7    Romance                     94413.72
5     Horror                     90395.52
8     Sci-Fi                     85811.80

In [85]:
df_genre_revenue = df.groupby("Genre")["Revenue"].sum().reset_index()
df_genre_revenue.columns = ["Genre", "Total Box Office Collection"]
df_genre_revenue = df_genre_revenue.sort_values("Total Box Office Collection", ascending=False)
print(df_genre_revenue)

       Genre  Total Box Office Collection
2     Comedy                    122686.63
3      Drama                    120311.32
9   Thriller                    112412.12
0     Action                    111137.94
4    Fantasy                    109849.86
1  Adventure                    103864.42
6    Mystery                     98832.93
7    Romance                     94413.72
5     Horror                     90395.52
8     Sci-Fi                     85811.80